{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
    <div class="header">
        <div class="container">

            <!-- СДЕЛАТЬ ОТСТУПЫ В ПРАВОЙ ЧАСТИ МИНИМУМ по 20 ПИКСЕЛЕЙ!!! -->
            <div class="header-inner">
                <div class="header-logo">
                    <a href="{% url 'home' 'auto' %}">
                        <img src="{% static 'browsing/images/logo.png' %}" alt="Logo">
                    </a>
                </div>

                <div class="header-twoo">
                    <div class="header-username-text">username</div>

                    <div class="header-favourite">
                        <img src="{% static 'browsing/images/heart.png' %}" alt="Heart" width="31" height="31">
                    </div>

                    <div class="header-username-ph">
                        <img src="{% static 'browsing/images/user.svg' %}" alt="User" width="31">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="body1">
        <div class="body-header">

            <a class="body-automob" href="{% url 'home' 'auto' %}">Автомобили</a>
            <a class="body-cloth" href="{% url 'home' 'clothes' %}">Одежда</a>
            <a class="body-items" href="{% url 'home' 'property' %}">Недвижимость</a>
            <a class="body-tech" href="{% url 'home' 'electronic' %}">Электроника</a>
            <a class="body-electr" href="{% url 'home' 'other' %}">Другое</a>

        </div>

        <div class="body-line"></div>

        <div class="catalog">
            {% for offer in offers %}
                <div class="catalog-item catalog-product">
                    <img src="{{ offer.image.url }}" alt="Photo" class="product-img" width="225" height="160">
                    <div class="product-content">
                        <h3>{{ offer.title }}</h3>
                        <p class="product-description">{{ offer.description }}</p>
                    </div>
                    <footer class="product-footer">
                        <div class="product-bottom">
                            <div class="product-price">
                                <span class="product-price-value">{{ offer.price }}</span>
                                <span class="product-currency">&#8372;</span>
                            </div>
                            <a class="body-add1-feedback" href="{% url 'offer' offer.uuid %}">Подробнее</a>
                        </div>
                    </footer>
                </div>
            {% endfor %}
        </div>
        <div class="body-arrow">
            <img src="{% static 'browsing/images/down.svg' %}" alt="Down" width="50">
        </div>

        <div class="body-line"></div>
    </div>
{% endblock %}
